<!DOCTYPE html>
<html>

    <%- include('../partials/head') %> 

<body>
  <h1>Hello on my website</h1>
  
  <%- include('../partials/nav') %> 

  <div class="create-blog content">
    <form method="POST" action="/blogs">
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required></input>
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required></input>
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required></textarea>
        <button>Submit</button>
    </form>
  </div>
  <%- include('../partials/footer') %> 
</body>

</html>