<!DOCTYPE html>
<html>

    <%- include('./partials/head') %> 

<body>
  <% console.log(title) %> 
  <h1>Hello on my website</h1>
  
  <%- include('./partials/nav') %> 

  <div class="not-found content">
    <h2>Page not found!</h2>
  </div>
  <%- include('./partials/footer') %> 
</body>

</html>