<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <h1>Hello on my website</h1>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>Blog</h1>
      </a>
      <p>My site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>
  <div class="about content">
    <h2>About US</h2>
    <p>Lorem ipsum dolor, sit amet consectuter adipisicing elit.</p>
    <p>Lorem ipsum dolor, sit amet consectuter adipisicing elit.</p>
    <p>Lorem ipsum dolor, sit amet consectuter adipisicing elit.</p>
    <p>Lorem ipsum dolor, sit amet consectuter adipisicing elit.</p>
  </div>
</body>

</html>