<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <h1>Hello on my website</h1>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>Blog</h1>
      </a>
      <p>My site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>
  <div class="blogs content">
    <h2>All blogs</h2>

    <% if(blogs.length > 0){ %> 
      <% blogs.forEach(blog => { %>
          <h3 class="title"><%= blog.title %> </h3>
          <p class="snippet"><%= blog.snippet %> </p>
      <% }) %>
    <% } else { %> 
      <p>There are no blogs to display</p>
    <% } %> 

  </div>
</body>

</html>